// ----------  banner
// ------------------------------------------------------------------------------

.banner {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.banner__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	visibility: hidden;
	pointer-events: none;
}

.banner__bg-picture {
	display: block;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	img {
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		object-fit: cover;
	}
	@include media-breakpoint-down(sm) {
		img {
			width: auto;
			height: 100vh;
			object-fit: cover;
		}
	}
}

.banner__canvas {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto;
	width: auto;
	min-width: 100%;
	min-height: 100%;
	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.banner__prefix {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	font-family: $font-second;
	font-weight: 400;
	color: $white;
	font-size: 18px;
	line-height: 24.44px;
	z-index: 5;
	@include media-breakpoint-between(md, lg) {
		top: 52%;
	}
	@include media-breakpoint-down(sm) {
		top: 57%;
		line-height: 19.01px;
		font-size: 14px;
	}
}

.banner__logo {
	position: absolute;
	top: 68%;
	left: 50%;
	transform: translate(-50%, -30%);
	display: block;
	max-width: 56vw;
	z-index: 1002;
	opacity: 0;
	animation-name: logo;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
	&.loaded {
		z-index: 5;
	}
	&.active {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	@include media-breakpoint-between(md, lg) {
		max-width: 83.205vw;
		top: 72%;
	}
	@include media-breakpoint-down(sm) {
		max-width: 87.5vw;
		top: 70%;
	}
}

@keyframes logo {
	from {
		transform: translate(-50%, -40%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}
