// ----------  loader
// -----------------------------------------------------------------------------

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $gray-dark;
	z-index: 1001;
	opacity: 1;
}
